body { 
  background-color: royalblue;
  background-image: url("/Images/newspaper.jpg");
  background-size: cover;
  color: #ddd;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
img {
  width: 100%;
  float: center;
}

button {
  height: 75px;
  width: 200px;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  border: none;
  font-size: 24px;
  font-family: times;
  border-radius; 40px;
}